<section class="carts">
    <div class="container">
        <div class="block_more_wrapper">
            <div class="block_more_inner">
                <!--1-->
                <div class="block_more">
                    <h1>Integrity</h1>
                    <p>We value people who live by a 
                        strong moral code and act with uncompromising honesty in everything they do.
                    </p>
                   
                </div>
                 <!--2-->
    
                <div class="block_more">
                    <h1>Accountability</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dignissimos suscipit repellat mollitia doloribus, a necessitatibus, officia quod tempore natus aliquid, deleniti animi.</p>
                 
                </div>
                 <!--3-->
    
                <div class="block_more">
                    <h1>Humility</h1>
                    <p>We value curiosity to learn from anyone, anywhere and the openness to acknowledge differences.</p>
                  
                </div>
    
                 <!--4-->
                 <div class="block_more">
                    <h1>Autonomy</h1>
                    <p>We value curiosity to learn from anyone, anywhere and the openness to acknowledge differences.</p>
                  
                </div>
    
                 <!--5-->
                 <div class="block_more">
                    <h1>Conscientiousness</h1>
                    <p>We value curiosity to learn from anyone, anywhere and the openness to acknowledge differences.</p>
                  
                </div>
    
                 <!--6-->
                 <div class="block_more">
                    <h1>Contribution</h1>
                    <p>We value curiosity to learn from anyone, anywhere and the openness to acknowledge differences.</p>
                  
                </div>
            </div>

        </div>
        
      
    </div>

</section>