<section class="banner">
    <img class="banner_img who_img" src="./assets/images/hiring_about.png" alt="">
    <div class="container">
        <div class="banner_inner">
          
            <div class="banner_inner_left lets_build_left">
                <div class="banner_title title_carts">
                    We are hiring!
                </div>
                <p class="banner_text title_text--about" >Help us build tools for the future. We’re looking for curious and smart people to join forces with us and grow together. </p>
                <div class="webtofee_btn_wrapper">
                    <a class="btn btn_notbackground btn-webtofee" href="#"> Join the squad</a>
                </div>
               
                

            </div>
        
        </div>

        <!--banner text-botttom-->
       
    </div>
    

   
</section>
        