<section class="banner">
    <img class="banner_img who_img" src="./assets/images/who_about_img.png" alt="">
    <div class="container">
        <div class="banner_inner">
          
            <div class="banner_inner_left lets_build_left">
                <div class="banner_title title_carts">
                    Who we are
                </div>
                <p class="banner_text title_text--about" >We are a bunch of thinkers and dreamers, who have come together to build products we are proud of. We come from diverse backgrounds, work in different agile teams and come together to deliver the best technology.

                    In 2017, we started as a one-person endeavour by Anvar TK, our CEO, in an incubator at National Institute of Technology Calicut.  Today, we are a growing team of 40+ members with offices in London, Bangalore and Calicut.   </p>
               
                

            </div>
        
        </div>

        <!--banner text-botttom-->
       
    </div>
    

   
</section>
        