footer {
    // align-items: center;
    padding: 45px 180px 45px 171px;
    background: #0D123C;
    max-width: 1440px;
   
   
}

.footer {
   
    display: flex;
    justify-content: space-between;
    gap: 85px;
    opacity: 0.5;
    border-bottom: 1px solid #D3DAD7;
    padding-bottom: 35px;

}
.footer_wrapper {
    display: flex;
    justify-content: end;
    gap: 73px;
}
.footer_logo_text {
    margin-top: 25px;
    width: 287px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}
.footer_list_item{
    margin-top: 30px;
}


.footer_title {
    margin: 70px 0 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_list_item {
     list-style: none;
     margin-top: 9px;
   

}
.footer_list_last {
    margin-top: 42px;
}
.footer_link { 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s color;

    &:hover {
        color: white;
    }
}


.footer_bottom {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    line-height: 19.5px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 35px 0 0 0  ;
    @media (max-width:768px) {
        flex-wrap: wrap;
        gap: 30px;
        text-align: center;
     }
    
    
}

.copy_img {
    margin-right: 10px;
  
}

.social {
    // justify-content: flex-end;
    margin-left: 10px;


    & a {
        text-decoration: none;
        margin-right: 34px;
       
       
       
    }
   

    
}