.btn {
    display: block;
    font-family: 'Europa';
    font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
    line-height: 150%;
    padding: 14px 32px;
    border-radius: 6px;
    letter-spacing: 0.005em;
    text-decoration: none;
    border: none;
   
}
.btn_warning {
    color: #FFFFFF;
    background: #BF0830;
    &:hover {
        background: lighten($color: #BF0830, $amount: 10%);
    }


}
.btn_notbackground {
    
    color: #BF0830;
    background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
    border: 1px solid #BF0830;
    &:hover {
       background: darken($color: #fff, $amount: 20%);
    }

}