<section class="banner">
    <img class="banner_img " src="./assets/images/banner_career.png" alt="">
    <div class="container">
        <div class="banner_inner">
          
            <div class="banner_inner_left">
                <div class="banner_title">
                    Hey, we're looking for <br>
                    <span>Dreamers</span>
                </div>
                <div class="btn_wrapper">
                   
                    <a class="btn btn_notbackground" href="">Work with us</a>
                </div>
                
    
            </div>
        </div>
       
    </div>
</section>
        