<section class="carts">
    <div class="container">
        <div class="carts_inner">
            <div class="carts_inner_block">
                <h1>2017</h1>
                <p>Founded in</p>
                <img src="./assets/images/carts_about_1.svg" alt="">
            </div>

            <div class="carts_inner_block">
                <h1>44+</h1>
                <p>Employees</p>
                <img src="./assets/images/carts_about_2.svg" alt="">
            </div>

            <div class="carts_inner_block">
                <h1>1.3M+</h1>
                <p>Active users</p>
                <img class="cart_img_last" src="./assets/images/carts_about_3.svg" alt="">
            </div>
        </div>
      
    </div>

</section>