<section class="carts">
    <div class="container">
        <div class="block_more_wrapper">
            <div class="block_more_inner">
                <!--1-->
                <div class="block_career">
                    
                    <h1>Life@<br>
                        Mozi</h1>
                        <p>The problems we solve every day could be serious, but we’re not! We have a lot of fun because we love what we do and you’re welcome to be a part of it.</p>
                    
                   
                </div>
                 <!--2-->
    
                <div class="block_career">
                    <img class="career_foto" src="./assets/images/carts_carieer_life1.jpg" alt="image">
                </div>
                 <!--3-->
    
                <div class="block_career">
                    <img class="career_foto" src="./assets/images/carts_carieer_life2.jpg" alt="image">
                </div>
    
                 <!--4-->
                 <div class="block_career">
                    <img class="career_foto" src="./assets/images/carts_carieer_life3.jpg" alt="image">
                </div>
    
                 <!--5-->
                 <div class="block_career">
                    <img class="career_foto" src="./assets/images/carts_carieer_life4.jpg" alt="image">
                </div>
    
                 <!--6-->
                 <div class="block_career">
                    <img class="career_foto" src="./assets/images/carts_carieer_life5.jpg" alt="image">
                </div>
            </div>

        </div>
        
      
    </div>

</section>