<section class="carts">
    <div class="container">
        <div class="block_more_wrapper">
            <div class="block_more_inner">
                <!--1-->
                <div class="block_more">
                    
                    <h1><img src="./assets/images/carts_more_career1.png" alt="image"> <span>Flexiblility</span> </h1>
                    <p>Be it in-office, WFH or a mix of both, do your best work from wherever you want, because we have a hybrid and flexible work culture.
                    </p>
                   
                </div>
                 <!--2-->
    
                <div class="block_more">
                    <h1><img src="./assets/images/carts_more_career2.png" alt="image"> <span>Learning</span> </h1>
                    <p>We offer plenty of learning opportunities such as professional courses, guided learning and workshops to pick up new skills.</p>
                 
                </div>
                 <!--3-->
    
                <div class="block_more">
                    <h1><img src="./assets/images/carts_more_career3.png" alt="image"> <span>Wellbeing</span> </h1>
                    <p>We’ve got your wellbeing covered with medical insurance for employees and dependents, employee loans and paid parental leaves.</p>
                  
                </div>
    
                 <!--4-->
                 <div class="block_more">
                  
                    <h1><img src="./assets/images/carts_more_career4.png" alt="image"> <span>Perks</span> </h1>
                    <p>We provide great tech like Macbooks and work essentials. To top it, we have yearly company-wide retreats at the best locations!</p>
                  
                </div>
    
                 <!--5-->
                 <div class="block_more">
                    <h1><img src="./assets/images/carts_more_career5.png" alt="image"> <span>Growth</span> </h1>
                    <p>Get the freedom to run your ideas, take up new job roles and collaborate across teams and chart your career.
                    </p>
                  
                </div>
    
                 <!--6-->
                 <div class="block_more">
                    <h1><img src="./assets/images/carts_more_career6.png" alt="image"> <span>Network</span> </h1>
                    <p>Build your network and rub shoulders with top teams from the biggest brands and startups in the world.
                    </p>
                  
                </div>
            </div>

        </div>
        
      
    </div>

</section>