<section class="section_proffesion">
  <div class="container">
        <!--Proffesion 1-->
    <div class="proffesion mb-3">
      <div class="proffesion_title_wrapper">
              <div class="proffesion_title mb-2">
              Front-end Developer
              </div>
              <div class="proffesion_subtitle">
                <span><img src="./assets/images/front1.svg" alt=""></span>
                <span class="proffesion_subtitle_text">Full time</span>
              </div>
              <div class="proffesion_subtitle">
                <span><img src="./assets/images/front1.svg" alt=""></span>
                <span class="proffesion_subtitle_text">Full time</span>
              </div>
             
              
      </div>
      
       <div class="proffesion_button mb-3">
              <a href="#" class="btn btn_notbackground">View details</a>
       </div>
       
    </div>
      <!--Proffesion 2-->
      <div class="proffesion mb-3">
        <div class="proffesion_title">
          PHP Developers (Laravel)
       </div>
       <div class="proffesion_button mb-3">
          <a href="#" class="btn btn_notbackground">View details</a>
       </div>
       
    </div>
      <!--Proffesion 3-->
      <div class="proffesion mb-3">
        <div class="proffesion_title">
          Junior Software Developer
       </div>
       <div class="proffesion_button mb-3">
          <a href="#" class="btn btn_notbackground">View details</a>
       </div>
    </div>
    <!--Proffesion 4-->
    <div class="proffesion mb-3">
      <div class="proffesion_title">
        WordPress Developer + Designer
     </div>
     <div class="proffesion_button mb-3">
        <a href="#" class="btn btn_notbackground">View details</a>
     </div>
  </div>
  <!--Proffesion 5-->
  <div class="proffesion mb-3">
    <div class="proffesion_title">
      Node.js Developer
   </div>
   
   <div class="proffesion_button mb-3">
      <a href="#" class="btn btn_notbackground">View details</a>
   </div>
</div>

    
 
</div>
  </div>
    
</section>