<section class="recomended-career mb-5">
    <div class="container">
            <div class="recomended-career__wrapper">
                <div class="recomended-career__left">
                    <span><img class="recomended-career__left-logo" src="./assets/images/recomended1.svg" alt=""></span>
                    <h3 class="recomended-career__left-text">95% of employees recommend Mozi </h3>
                </div>
                <!--end .left-->
                <div class="recomended-career__right">
                  <span><img class="recomended-career__right-image-first" src="./assets/images/recomended2.svg" alt=""></span>
                  <div class="recomended-career__career-content"> <h3 class="recomended-career__right-figure">4.8</h3>  
                    <img class="recomended-career__right-image-second" src="./assets/images/recomended3.svg"  alt="image">
                  </div>
                   
                  <span><h5 class="recomended-career__right-textBottom" >Read our reviews</h5><img src="./assets/images/recomended4.svg" alt=""></span>
                </div>
                
            </div>

    </div>
    
</section>