<section class="banner">
    <img class="banner_img" src="./assets/images/banner_home_img.png" alt="">
    <div class="container">
        <div class="banner_inner">
          
            <div class="banner_inner_left">
                <div class="banner_title">
                    We build products to simplify work for businesses
                </div>
                <p class="banner_text" >Our next-gen products empower businesses to implement agility and accelerate growth. </p>
                <div class="btn_wrapper">
                    <a class="btn btn_warning" href="">Learn more</a>
                    <a class="btn btn_notbackground" href="">Work with us</a>
                </div>
                

            </div>
          

            
        
        
        
        </div>

        <!--banner text-botttom-->
       
    </div>

   
</section>
        