<section class="banner">
    <img class="banner_img lets_build_img" src="./assets/images/lets_build.svg" alt="">
    <div class="container">
        <div class="banner_inner">
          
            <div class="banner_inner_left lets_build_left">
                <div class="banner_title">
                    Let's build the next big thing!
                </div>
                <p class="banner_text" >Looking to achieve great things? You’ve come to the right place. </p>
                <div class="btn_wrapper">
                    <!-- <a class="btn btn_warning" href="">Learn more</a> -->
                    <a class="btn btn_notbackground" href="">Join the team</a>
                </div>
                

            </div>
        
        </div>

        <!--banner text-botttom-->
       
    </div>

   
</section>
        