<section class="section_divider">
    <div class="text_bottom">
         Over <span>1.3 million</span>  users and global brands trust us 
    </div>
    <div class="divider_bottom">
        <a  href="#"><img class="divider_img"  src="./assets/images/divider_img_1.svg" alt="brands"></a>
        <a  href="#"><img class="divider_img"  src="./assets/images/divider_img_2.svg" alt="brands"></a>
        <a  href="#"><img class="divider_img"  src="./assets/images/divider_img_3.svg" alt="brands"></a>
        <a  href="#"><img class="divider_img"  src="./assets/images/divider_img_4.svg" alt="brands"></a>
        <a  href="#"><img class="divider_img"  src="./assets/images/divider_img_5.png" alt="brands"></a>
        <a  href="#"><img class="divider_img"  src="./assets/images/divider_img_6.svg" alt="brands"></a>
        <a  href="#"><img class="divider_img"  src="./assets/images/divider_img_7.svg" alt="brands"></a>
       
        

    </div>
</section>

