<section class="section_divider">
    <div class="title_center">
        Making waves with innovation
    </div>
    <div class="title_text">
        We are in the news for being market leaders who deliver exceptional products.
    </div>
    <div class="divider_bottom">
        <a href=""><img src="./assets/images/divider_making_1.png" alt="brands"></a>
        <a href=""><img src="./assets/images/divider_making_2.png" alt="brands"></a>
        <a href=""><img src="./assets/images/divider_making_3.png" alt="brands"></a>
        <a href=""><img src="./assets/images/divider_making_4.png" alt="brands"></a>
    
    </div>
</section>

