<section class="section_webtofee">
    <div class="container">
        <div class="webtofee">
            <!--webtofee left-->
                    <div class="webtofee_inner">
                       
                        <div class="webtofee_tittle">
                            <img class="webtofee_tittle_img" src="./assets/images/webtofee_left_img.svg" alt="">
                        </div>
                        <p>Cookie consent solution for privacy compliance.</p>
                        <div class="webtofee_btn_wrapper">
                            <a class="btn btn_notbackground btn-webtofee" href=""><img src="./assets/images/webtofee_arrow.png" alt=""> Learn more</a>
                        </div>
                        <div class="webtofee_bottom_img">
                            <img src="./assets/images/webtofee_left_img_bottom.svg" alt="">
                        </div>
                        
                    </div>
               

                 <!--webtofee right-->
               
                    <div class="webtofee_inner">
                     
                        <div class="webtofee_tittle">
                            <img class="webtofee_tittle_img" src="./assets/images/webtofee_right_img.svg" alt="">
                        </div>
                        <p>Plugins and extensions for eCommerce needs.</p>
                        <div class="webtofee_btn_wrapper">
                            <a class="btn btn_notbackground btn-webtofee" href=""><img src="./assets/images/webtofee_arrow.png" alt=""> Learn more</a>
                        </div>
                        <div class="webtofee_bottom_img webtofee_img">
                            <img src="./assets/images/webtofee_right_img_bottom.svg" alt="">
                        </div>
                        
                    </div>
                
        
        </div>
    </div>

</section>