.banner  {
    padding: 129px 0 210px 164px;
    position: relative;
    @media(max-width:1400px) {
        padding: 100px 0 100px 129px;
    }
    @media(max-width:992px) {
        padding: 75px 0 390px 100px;
        text-align: center;
    }

    @media(max-width:768px) {
        padding: 50px 0 320px 20px;
    }
    @media(max-width:480px) {
        padding: 50px 0 320px 0;
    }
}
.banner_inner {
    display: flex;
    gap: 17px;
  
}
.banner_inner_left {
      flex: 0 0 40%;
      @media(max-width:992px) {
       flex: 1 1 100%;
    }
}
.lets_build_left {
    flex: 0 0 50%;
    @media(max-width:1300px) {
     flex: 1 1 30%;
    //  text-align: center;
     padding: 75px 0 400px 100px;
  }
  @media(max-width:992px) {
    flex: 1 1 30%;
    text-align: start;
    padding: 75px 0 150px 80px;
 }
 @media(max-width:768px) {
    flex: 1 1 30%;
   //  text-align: center;
    padding: 75px 0 100px 30px;
 }

}
.banner_flat {
    flex: 0 0 50%;
    @media(max-width:1300px) {
       display: none;
     }

}
.banner_title  {
    width: 100%;
    font-family:Europa;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #1A2578;
    @media(max-width:1200px) {
        font-size: 46px;
        line-height: 58px;
    }

    @media(max-width:992px) {
        font-size: 42px;
        line-height: 52px;
        padding-right: 50px;
    }
    @media(max-width:768px) {
        font-size: 38px;
        line-height: 42px;
    }
    @media(max-width:480px) {
        font-size: 28px;
        line-height: 32px;
    }

    span {
        color: #BF0830;
        display: block;
        margin-bottom: 50px;
    }
}

.lets_build_title {
    width: 100%;
    font-family:Europa;
    font-weight: bold;
    font-size: 44px;
    line-height: 57px;
    color: #1A2578;
    @media(max-width:1200px) {
        font-size: 42px;
        line-height: 47px;
    }

    @media(max-width:992px) {
        font-size: 32px;
        line-height: 37px;
    }
    @media(max-width:768px) {
        font-size: 28px;
        line-height: 32px;
    }
    @media(max-width:480px) {
        font-size: 23px;
        line-height: 22px;
    }
}
.banner_text {
    display: block;
    font-family:Europa;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #484C63;
    margin: 32px 0;
    padding-right: 20px;

    @media (max-width:1200px) {
        font-size: 18px;
    }
    @media (max-width:768px) {
        font-size: 16px;
    }
}
.text_mozi {
    padding-right: 57px;
    font-size: 28px;
    line-height: 36px;
    @media (max-width:992px) {
        font-size: 22px;
        line-height: 26px;
        padding: 0 20px;

    }
    @media (max-width:768px) {
        font-size: 20px;
        line-height: 22px;

    }

 
}
.btn_wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    @media(max-width: 992px) {
        justify-content: center;

    }

}
.btn_creator {
    justify-content: start;
}


.banner_inner_right {
    flex: 0 0 60%;
    position: relative;
}
.banner_img {
    position: absolute;
    max-width: 100%;
    right: 40px;
    bottom: 0;
  
    @media(max-width:1400px) {
        max-width: 600px;
        // bottom: 0;
    }
    @media(max-width:1300px) {
        max-width: 550px;
       
    }
    @media(max-width:992px) {
        max-width: 500px;
       
    }
    @media(max-width:768px) {
        max-width: 400px;
        right: 0;
    } 
    @media(max-width:500px) {
        max-width: 350px;   
    } 
 
}
.banner_mozi_img {
    bottom: -70px;
}

.what_banner_img {
    position: absolute;
    max-width: 100%;
   
   
    // left: 0;
    bottom: 0;
  
    @media(max-width:1300px) {
        max-width: 600px;
        right: 40px;
        // bottom: 0;
    }
    @media(max-width:1300px) {
        max-width: 550px;
       
    }
    @media(max-width:992px) {
        max-width: 500px;
       
    }
    @media(max-width:768px) {
        max-width: 400px;   
    } 
 
}

.lets_build_img {
    right: 185px;
    width: 500px;
    @media(max-width:768px) {
        right: 120px;
    }
    @media(max-width:650px) {
        right: 20px;
    }
    @media(max-width:480px) {
        width: 400px;
        right: 0;
    }

}
.title_carts {
    padding-left: 50px;
    font-weight: 700;
    font-style: 44px;
    line-height: 57px;
    color: #1A2578;
}
.title_text {
    padding-left: 50px;
    font-weight: 400;
    font-style: 16px;
    line-height: 27px;
    color: #484C63;
    --about {
    padding-left: 50px;
    font-weight: 400;
    font-style: 16px;
    line-height: 27px;
    color: #484C63;

    @media(max-width:480px) {
        padding:  0 0 0  20px;
    }

    }
  

}

