<section class="form-contact">
    <div class="container">
        <div class="form-contact__inner">
            <div class="form-contact__input">
                
                    <input class="input" type="text" id="name" placeholder="Name*">
                    <input class="input" type="text" id="email" placeholder="Email*">
                    <input class="input" type="text" id="subject" placeholder="Subject*">
                    <textarea class="input" name="" id="textarea" cols="30" rows="10" placeholder="Message*"></textarea>
                    <div class="form-contact__button">
                        <button class="btn btn_warning">Send</button>
                    </div>
                    
              
            </div>
            <div class="form-contact__wrapper">
                        <!--1-->
                    <div class="form-contact__content">
                        <div class="form-contact__content-header">
                            <div class="form-contact-img">
                                <img src="./assets/images/flag1.png" alt="">
                            </div>
                            
                            <div class="form-contact-text">
                                London
                            </div>
                        </div>
                        <div class="form-contact__content-body">
                            Mozi Limited 3 Warren Yard, Wolverton Mill Milton Keynes England UK – MK12 5NW

                        </div>

                    </div>
                    <!--2-->
                    <div class="form-contact__content">
                        <div class="form-contact__content-header">
                            <div class="form-contact-img">
                                <img src="./assets/images/flag2.png" alt="">
                            </div>
                            
                            <div class="form-contact-text">
                                LondonLondon
                            </div>
                        </div>
                        <div class="form-contact__content-body">
                            Mozi Limited 3 Warren Yard, Wolverton Mill Milton Keynes England UK – MK12 5NW

                        </div>

                    </div>
                    <!--3-->
                    <div class="form-contact__content">
                        <div class="form-contact__content-header">
                            <div class="form-contact-img">
                                <img src="./assets/images/flag3.png" alt="">
                            </div>
                            
                            <div class="form-contact-text">
                                Bengaluru 
                            </div>
                        </div>
                        <div class="form-contact__content-body">
                            Mozi Limited 3 Warren Yard, Wolverton Mill Milton Keynes England UK – MK12 5NW

                        </div>

                    </div>
            </div>
           
        </div>
    </div>

</section>