<section class="banner">
    <img class="banner_img" src="./assets/images/banner_products_img.png" alt="">
    <div class="container">
        <div class="banner_inner">
          
            <div class="banner_inner_left">
                <div class="banner_title">
                    Tools that transform how businesses work
                </div>
                <p class="banner_text" >We help manage businesses better with our applications, plugins, extensions and offer productive experiences for teams and customers alike. </p> -->
                 <div class="btn_wrapper">
                    <a class="btn btn_warning" href="">Learn more</a>
                    <a class="btn btn_notbackground btn-webtofee" href="">Work with us</a>
                </div>
    
            </div>
        </div>
       
    </div>
</section>
        