<section class="banner">
    <div class="container">
        <div class="banner_inner">
            <!--banner right-->
            <div class="banner_inner_left">
                <div class="banner_title">
                    Tools that transform how businesses work
                </div>
                <p class="banner_text" >We help manage businesses better with our applications, plugins, extensions and offer productive experiences for teams and customers alike. </p>
              
                

            </div>
            <!--banner right-->
            <div class="banner_inner_right">
                <img class="banner_img" src="./assets/images/banner_products_img.png" alt="">
                
            </div>

            
        
        
        
        </div>

        <!--banner text-botttom-->
       
    </div>

    <div class="text_bottom">
        Over <span>1.3 million</span>  users and global brands trust us 
    </div>
</section>
        