<section class="section_webtofee">
    <div class="container">
        <div class="webtofee">
            <!--webtofee left-->
                    <div class="webtofee_inner cookies_inner">
                       
                        <div class="webtofee_tittle">
                            <img class="webtofee_tittle_img" src="./assets/images/webtofee_left_img.svg" alt="">
                        </div>
                        <p>Build brand trust and minimize legal risks with the market-leading consent management platform that helps businesses comply with global privacy regulations. Display cookie consent banners, manage consent, generate policy documents and privacy-proof websites with CookieYes.  

                            CookieYes is the #1 cookie compliance technology with over 1.2 million user base, powering global brands to startups across US, UK and Europe.</p>
                        <div class="webtofee_btn_wrapper">
                            <a class="btn btn_notbackground btn-webtofee" href=""><img src="./assets/images/webtofee_arrow.png" alt=""> Learn more</a>
                        </div>
                       
                        
                    </div>
               

                 <!--webtofee right-->
               
                    <div class="webtofee_inner">
                     
                        <div class="webtofee_bottom_img webtofee_img">
                            <img src="./assets/images/products_cookies.png" alt="">
                        </div>
                        
                    </div>
                
        
        </div>
    </div>

</section>