<section class="section_webtofee">
    <div class="container">
        <div class="webtofee">
            <!--webtofee left-->
                    <div class="webtofee_inner">
                        <div class="webtofee_bottom_img">
                            <img src="./assets/images/products_webtofee_img.png" alt="">
                        </div>
                       
                    
                        
                    </div>
               

                 <!--webtofee right-->
               
                    <div class="webtofee_inner">
                     
                        <div class="webtofee_tittle">
                            <img class="webtofee_tittle_img" src="./assets/images/webtofee_right_img.svg" alt="">
                        </div>
                        <p>Streamline eCommerce businesses and create amazing customer experiences with our WordPress/WooCommerce plugins and extensions. Manage your day-to-day operations with extensions for product imports, smart coupons, payment gateways, subscriptions and more.

                            WebToffee builds some of the most popular and top-rated plugins in the marketplace and powers over 1.3 million online stores and websites.
                            </p>
                        <div class="webtofee_btn_wrapper">
                            <a class="btn btn_notbackground btn-webtofee" href=""><img src="./assets/images/webtofee_arrow.png" alt=""> Visit Webtoffee</a>
                        </div>
                                                
                    </div>
                
        
        </div>
    </div>

</section>